# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
dist
build

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Logs
*.log

# Environment variables
.env
.env.local
.env*.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Misc
coverage
.nyc_output
